@import 'config';

button {
  background-color: $color4;
  border: 1px solid $color5;
  border-radius: 5px;
  color: $color1;
  padding: 0.5rem;
  transition: color $transition;
  transition: background-color $transition;
  word-break: initial;
}

button:hover {
  background-color: $color1;
  color: $color4;
}

button:active {
  background-color: $color4;
  border: 1px solid $color5;
  color: $color1;
}
