// Sækja config
@import "config";

// Hér skal nota scss @for til að ítra út klösum fyrir grid
html {
  position: relative;
}

html::before {
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  margin-right: auto;
  margin-left: auto;
  
  width: calc(100% - (2 * $offset));
  max-width: $max_width;
  min-height: 100vh;
  background-image: $background-columns;
  background-size: $background-width 100%;
  z-index: 1000;
  pointer-events: none;
}

.grid {
  max-width: $max_width;
  margin: 0 auto;
  overflow: hidden;
}

.row {
  display: $displaytype;
  flex-wrap: wrap;   
  margin-left: -$offset;
  margin-right: -$offset;
}

.col {
  padding-left: $offset; 
  padding-right: $offset;
  width: 100%;
}


@function col($n, $infix: "") {
  @if ($infix !="") {
    @return unquote(".col-#{$infix}-#{$n}");
  }

  @return unquote(".col-#{$n}");
}


@function offset($n, $infix: "") {
  @if ($infix !="") {
    @return unquote(".offset-col-#{$infix}-#{$n}");
  }

  @return unquote(".offset-col-#{$n}");
}

@mixin cols($size, $infix: "", $offset: false, $limit: 0) {
  $total: $size;

  @if $limit>0 {
    $total: $limit
  }

  @for $i from 1 through $total {
  @if not $offset {
      #{col($i, $infix)} {
        width: percentage($i / $size);
      }
    }

    @else {
      #{offset($i, $infix)} {
        margin-left: percentage($i / $size);
      }
    }
  }
}

@include cols($columns);
@include cols($columns, "", true, 3);

@media (max-width: 799px) {
  @include cols($columns, md);
  @include cols($columns, md, true, 3);
}

@media (max-width: 499px) {
  @include cols($columns, sm);
  @include cols($columns, sm, true, 3);
}


